@charset "UTF-8";
/**
 * text-baldanders-dark.css -- Cascading Style Sheet (for light mode)
 */
@import url("./chroma-styles-light.css"); /* for light mode */
@import url("./main.css");
@import url("./baldanders-info.css");
:root {
  /* font style */
  --default-font-serif: 'Noto Serif', 'BIZ UDMincho', 'NotoSerifJP-local', serif;
  --default-font-sans: 'Noto Sans', 'BIZ UDGothic', 'NotoSansJP-local', sans-serif;
  --default-font-mono: 'Inconsolata', 'BIZ UDGothic', 'NotoSansJP-local', monospace;
  --default-font-emoji: 'Twemoji Mozilla', 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
  --default-font-weight-normal: 400;
  --default-font-weight-bold: 700;
  /* light and dark */
  --light-text-color: black;
  --light-background-color: rgb(255,248,231);
  --dark-text-color: lavender;
  --dark-background-color: rgb(20, 20, 40);
  /* root style */
  --root-text-color: black;
  --root-background-color: rgb(255,248,231);
  /* default style */
  --default-text-color: black;
  --default-link-color: blue;
  --default-visited-color: #000080;
  --default-caution-color: red;
  --default-background-color: transparent;
  --default-border-color: gray;
  /* header style */
  --header-text-color: green;
  --header-background-color: transparent;
  /* table style */
  --table-border-color: gray;
  --table-header-text-color: inherit;
  --table-header-background-color: lightgray;
  /* icons */
  --icon-text-github: black;
  --icon-text-share: darkgray;
  --icon-text-twitter: dodgerblue;
  --icon-text-medium: black;
  --icon-text-tumblr: gray;
  --icon-text-instagram: mediumvioletred;
  --icon-text-flickr: mediumblue;
  --icon-text-facebook: royalblue;
  --icon-text-linkedin: steelblue;
  --icon-text-envelope: inherit;
  --icon-text-pocket: red;
  --icon-text-golang: #00aed9;
  --icon-text-mastodon: #3088d4;
  --icon-text-bluesky: #0C5CB0;
  --icon-text-strava: #FC5200FF;
  /* other text color */
  --other-text-citrus: #eddc44;
}

/* end of file */
