@charset "UTF-8";
/**
 * text-baldanders-dark.css -- Cascading Style Sheet (for dark mode)
 */
@import url("./chroma-styles-dark.css"); /* for dark mode */
@import url("./main.css");
@import url("./baldanders-info.css");
:root {
  /* font style */
  --default-font-serif: 'Noto Serif', 'BIZ UDMincho', 'SerifJP-local', 'Noto Serif JP', 'Noto Serif CJK JP', 'Noto Serif Hentaigana', serif;
  --default-font-sans: 'Noto Sans', 'BIZ UDGothic', 'SansJP-local', 'Helvetica Neue', 'Arial', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Noto Sans JP', 'Noto Sans CJK JP', 'Noto Serif Hentaigana', sans-serif;
  --default-font-mono: 'Intel One Mono', 'BIZ UDGothic', 'SansJP-local', 'Noto Sans JP', 'Noto Sans CJK JP', 'Noto Serif Hentaigana', monospace;
  --default-font-emoji: 'Twemoji Mozilla', 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
  --default-font-weight-normal: 400;
  --default-font-weight-bold: 700;
  /* light and dark */
  --light-text-color: black;
  --light-background-color: rgb(255,248,231);
  --dark-text-color: lavender;
  --dark-background-color: rgb(20, 20, 40);
  /* root style */
  --root-text-color: lavender;
  --root-background-color: rgb(20, 20, 40);
  /* default style */
  --default-text-color: lavender;
  --default-link-color: lightskyblue;
  --default-visited-color: lightskyblue;
  --default-caution-color: coral;
  --default-background-color: transparent;
  --default-border-color: slategray;
  /* header style */
  --header-text-color: wheat;
  --header-background-color: transparent;
  /* table style */
  --table-border-color: slategray;
  --table-header-text-color: inherit;
  --table-header-background-color: darkslategray;
  /* icons */
  --icon-text-github: white;
  --icon-text-share: slategray;
  --icon-text-twitter: dodgerblue;
  --icon-text-medium: lavender;
  --icon-text-tumblr: lavender;
  --icon-text-instagram: coral;
  --icon-text-flickr: white;
  --icon-text-facebook: royalblue;
  --icon-text-linkedin: steelblue;
  --icon-text-envelope: inherit;
  --icon-text-pocket: red;
  --icon-text-golang: #00aed9;
  --icon-text-mastodon: #3088d4;
  --icon-text-bluesky: #0C5CB0;
  --icon-text-strava: #FC5200FF;
  /* other text color */
  --other-text-citrus: #eddc44;
}

/* end of file */
