@charset "UTF-8";
/**
 * text-baldanders.css -- Cascading Style Sheet (for this theme)
 */
@import url("./main-dark.css");
@import url("./chroma-styles-dark.css");

 /* page layout */
#container {
  max-width: 700px;
  margin: 0 auto;
}

 /* header layout */
#container header {
  text-align: right;
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: solid thin slategray;
}
header #sitetitle {
  font-variant: small-caps;
  font-size: x-large;
  margin: 0;
  color: wheat;
  background-color: transparent;
}
header p {
  font-size: smaller;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
header a:link {
  color: wheat;
  background-color: transparent;
}
header a:visited {
  color: wheat;
  background-color: transparent;
}
header a:active {
  color: wheat;
  background-color: transparent;
}
header a:hover {
  color: wheat;
  background-color: transparent;
  text-decoration: none;
}

/* main layout */
main h1 {
  font-weight: 700;
  border: solid thin slategray;
  margin: 0 0 1rem 0;
  padding: 0 0.5rem 2px 2px;
}
main h2 {
  font-weight: 700;
  text-decoration: underline;
}
main h3, main h4, main h5, main h6 {
  font-size: medium;
  text-decoration: underline;
}
main blockquote, main pre {
  line-height: 1.2;
  border: solid thin slategray;
}
main p, main blockquote, main li {
  text-align: justify;
  hyphens: auto;
}
main blockquote p {
  margin: 0.2rem 0;
}
main nav.tags, main nav.history {
  display: block;
  width: 100%;
  text-align: right;
  font-size: smaller;
  line-height: 1.2;
  margin-top: 0;
  padding-top: 0;
}
main div.footnotes, main section.footnotes {
  font-size: smaller;
  line-height: 1.2;
}

main div.footnotes hr, main section.footnotes hr {
  border: solid thin slategray;
}

main div.mermaid {
  color:black;
  background-color:white;
}

main div.box {
  color: inherit;
  background-color: transparent;
  margin: 1rem 0rem 1rem 0.4rem;
  padding: 4px;
  line-height: 1.2;
  border: solid thin slategray;
}

main div.noextension {
  float: right;
  margin-top: 0;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0;
}

/* hreview */
main figure div.lightmode {
  color:black;
  background-color:white;
}

/* hreview */
main .hreview {
  font-size: small;
  line-height: 1.2;
  border: solid thin slategray;
  margin: 1rem 0rem;
  padding: 2px;
}
.hreview abbr {
  text-decoration: none;
}
.hreview dl {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  text-align: left;
}
.hreview dl > dt {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: none;
  color: inherit;
  background-color: inherit;
}
.hreview dl > dd {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  border: none;
  color: inherit;
  background-color: inherit;
}
.hreview dl > dd abbr.rating {
  color: goldenrod;
  background-color: inherit;
}
.hreview div.photo, .hreview img.photo {
  float:left;
  border: none;
  color: inherit;
  background-color: inherit;
  margin: 0 15px 10px 10px;
  padding: 0.5rem;
}
.hreview p.gtools, .hreview p.powered-by {
  font-size: smaller;
  line-height: inherit;
  text-align: right;
  margin: 0;
  clear: both;
}

/* breadcrumb list */
main nav.breadcrumb {
  display: block;
  width: 100%;
  text-align: left;
  line-height: 1.2;
  margin-top: 0;
  padding-top: 0;
}

 /* page navigation */
.page-nav {
  display: flex;
  flex-direction: row;
  margin-top: 2.0rem;
  margin-bottom: 0.5rem;
  font-size: small;
  line-height: 1.2;
}
.page-nav .prev-page {
  flex: 1 auto;
  text-align: left;
  padding-right:1.0rem;
}
.page-nav .next-page {
  flex: 1 auto;
  text-align: right;
  padding-left:1.0rem;
}

/* footer layout */
#container footer {
  display: block;
  width: 100%;
  font-size: smaller;
  line-height: 1.2;
  margin-top: 0.5rem;
  padding-top: 0.1rem;
  border-top: solid thin slategray;
}
footer .userinfo {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
footer .userinfo .userinfo-avater {
  flex: 0 70px;
  text-align: right;
  padding-right:0.5rem;
}
footer .userinfo .userinfo-avater img {
  border-radius: 50%;
}
footer .userinfo .userinfo-info {
  flex: 1 auto;
  text-align: left;
  padding-left:0.5rem;
}
.social {
  margin: 0.5rem 0rem;
  padding: 0
}
ul.social {
  list-style: none;
  padding: 0
}
ul.social > li {
  display: inline-block;
  margin: 0 0.5rem;
}

/* icon color */
span.github-color {
  color: white;
  background-color: transparent;
}
span.share-color {
  color: slategray;
  background-color: transparent;
}
span.twitter-color {
  color: dodgerblue;
  background-color: transparent;
}
span.medium-color {
  color: inherit;
  background-color: transparent;
}
span.tumblr-color {
  color: inherit;
  background-color: transparent;
}
span.instagram-color {
  color: coral;
  background-color: transparent;
}
span.flickr-color {
  color: white;
  background-color: transparent;
}
span.facebook-color {
  color: royalblue;
  background-color: transparent;
}
span.linkedin-color {
  color: steelblue;
  background-color: transparent;
}
span.envelope-color {
  color: inherit;
  background-color: transparent;
}
span.pocket-color {
  color: red;
  background-color: transparent;
}

/* footer navigation */
footer nav {
  display: block;
  width: 100%;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

/* Feedback */
aside.feedback h1 {
  border: solid thin slategray;
  margin: 0 0 1rem 0;
  padding: 0 0.5rem 2px 2px;
}
