/* using Noto font Japanese in local machine */
@font-face {
  font-family: 'NotoSansJP-local';
  font-style: normal;
  src: local("Noto Sans JP"), local("Noto Sans CJK JP"), local('NotoSansJP');
}
@font-face {
  font-family: 'NotoSansJP-local';
  font-style: normal;
  src: local("Noto Sans JP Medium"), local("Noto Sans CJK JP Medium"), local('NotoSansJP-Medium');
  font-weight: 500;
}
@font-face {
  font-family: 'NotoSansJP-local';
  font-style: normal;
  src: local("Noto Sans JP Bold"), local("Noto Sans CJK JP Bold"), local('NotoSansJP-Bold');
  font-weight: 700;
}
@font-face {
  font-family: 'NotoSerifJP-local';
  font-style: normal;
  src: local("Noto Serif JP"), local("Noto Serif CJK JP"), local('NotoSerifJP');
}
@font-face {
  font-family: 'NotoSerifJP-local';
  font-style: normal;
  src: local("Noto Serif JP Medium"), local("Noto Serif CJK JP Medium"), local('NotoSerifJP-Medium');
  font-weight: 500;
}
@font-face {
  font-family: 'NotoSerifJP-local';
  font-style: normal;
  src: local("Noto Serif JP Bold"), local("Noto Serif CJK JP Bold"), local('NotoSerifJP-Bold');
  font-weight: 700;
}
