/* using Noto font Japanese in local machine */
@font-face {
  font-family: 'SansJP-local';
  font-style: normal;
  src: local("BIZ UDGothic"), local("BIZ UDゴシック");
}
@font-face {
  font-family: 'SansJP-local';
  font-style: normal;
  src: local("BIZ UDGothic"), local("BIZ UDゴシック"), local('BIZUDGothic-Regular');
  font-weight: 400;
}
@font-face {
  font-family: 'SansJP-local';
  font-style: normal;
  src: local("BIZ UDGothic"), local("BIZ UDゴシック"), local('BIZUDGothic-Bold');
  font-weight: 700;
}
@font-face {
  font-family: 'SerifJP-local';
  font-style: normal;
  src: local("BIZ UDMincho"), local("BIZ UD明朝");
}
@font-face {
  font-family: 'SerifJP-local';
  font-style: normal;
  src: local("BIZ UDMincho"), local("BIZ UD明朝"), local('BIZUDPMincho-Regular');
  font-weight: 400;
}
@font-face {
  font-family: 'NotoSerifJP-local';
  font-style: normal;
  src: local("BIZ UDMincho"), local("BIZ UD明朝"), local('BIZUDMincho-Bold');
  font-weight: 700;
}
