@charset "UTF-8";
/**
 * main.css -- Cascading Style Sheet (General)
 */
/* declaration of font-* */
body {
  font-family: 'Noto Serif', 'NotoSerifJP-local', 'Noto Serif JP', serif;
  font-weight: 400; /* normal */
  font-variant: normal;
  font-style: normal;
  font-size: medium;
  line-height: 1.4;
  /* font-smoothing: always; // Non-standard */
}
h1, h2, h3, h4, h5, h6, header, address, table th, dl > dt, em, strong, cite, *.caution, *.breadcrumb {
  font-family: 'Noto Sans', 'NotoSansJP-local', 'Noto Sans JP', sans-serif;
  font-weight: 400; /* normal */
  font-weight: inherit;
  font-variant: inherit;
  font-style: inherit;
  font-size: inherit;
}
pre, tt, code, var, kbd, samp {
  font-family: 'Inconsolata', 'NotoSansJP-local', 'Noto Sans JP', monospace;
  font-weight: 400; /* normal */
  font-variant: inherit;
  font-style: inherit;
  font-size: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
  font-size: large;
  line-height: 1.2
}
figure figcaption {
  font-size: smaller;
  line-height: 1.2
}
address {
  line-height: 1.2
}
table th {
  font-variant: small-caps;
  line-height: 1.2
}
table td {
  line-height: 1.2
}
table caption {
  font-size: smaller;
  line-height: 1.2
}
ul > li, ol > li {
  line-height: 1.2
}
dl > dt {
  /*font-weight: bolder;*/
  font-variant: small-caps;
  line-height: 1.2
}
strong {
  font-weight: 700; /* bold */
}
cite {
  font-variant: small-caps;
}
pre {
  line-height: 1.2;
}
span.familyName {
  font-variant: small-caps;
}

/* decolation */
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0.2rem;
  padding: 0;
  text-indent: 0em;
  text-align: left;
}
h1, h2, h3, h4, h5, h6, p, address, ul, ol, dl {
  margin: 1rem 0;
}
pre {
  text-align: left;
  white-space: pre;
  overflow: auto;
  -moz-tab-size: 4;
  tab-size: 4;
}
blockquote, pre {
  /*color: inherit;
  background-color: white;*/
  margin: 1rem 0rem 1rem 0.4rem;
  padding: 4px;
}
iframe {
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
ul,ol {
  padding-left: 2rem;
}
ul ul,ul ol,ol ol,ol ul {
  margin: 0;
}
ul > li, ol > li {
  margin: 0.4rem 0;
}
li p {
  margin: 0;
  line-height: 1.2
}
.cloud > ul, ul.cloud {
  list-style: none;
  padding: 0
}
.cloud > ul > li, ul.cloud > li {
  display: inline-block;
  margin: 0 0.5rem;
}
div.title-list > ul, ul.title-list {
  list-style: none;
  padding-left: 1rem;
}
div.title-list > ul > li, ul.title-list > li {
  text-indent: -1em;
  margin: 1rem 0;
}
dl > dt {
  margin: 0;
  padding: 0 0.5rem;
  border: solid thin gray;
  color: inherit;
  background-color: lightgray;
}
dl > dd {
  margin: 0;
  padding: 0 0.5rem;
  border: solid thin gray;
  color: inherit;
  background-color: white;
}
table {
  caption-side: bottom;
  table-layout: auto;
  border: solid thin gray;
  border-collapse: collapse; /* need from firefox */
  border-spacing: 0 0; /* need from firefox */
  margin: 1rem auto 1rem auto;
  padding: 0
}
table th {
  display: table-cell;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  border: solid thin gray;
  border-collapse: collapse;
  border-spacing: 0 0;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: inherit;
  background-color: lightgray;
}
table td {
  display: table-cell;
  /* text-align: left; */
  vertical-align: top;
  border: solid thin gray;
  border-collapse: collapse;
  border-spacing: 0 0;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: inherit;
  background-color: white;
}
table td.nowrap  {
  white-space: nowrap;
}
table caption {
  text-align: center;
  margin: 0;
  padding: 0.2rem 0;
}
table.noborder {
  border-style: hidden;
  border-width: 0;
}
table.noborder th {
  border-style: hidden;
  border-width: 0;
  color: inherit;
  background-color: white;
}
table.noborder td {
  border-style: hidden;
  border-width: 0;
  color: inherit;
  background-color: white;
}
hr {
  border: 0;
  border-bottom: thin solid gray;
  margin-top: -1px;
  margin-bottom: 1rem
}
figure {
  margin: 1rem 0;
  padding: 0;
}
figure blockquote, figure pre, figure table {
  margin: 0;
}
figure table {
  margin: 0 auto 0 auto;
}
figure figcaption {
  text-align: center;
  margin: 0;
  padding: 0.2rem 0;
}
/*img {
  vertical-align: bottom;
}*/
q:lang(ja), :lang(ja) > q {
  quotes: "「" "」" "『" "』";
}
q:lang(en),:lang(en) > q {
  quotes: "“" "”";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
sup, sub {
  font-size: smaller;
}
/* Style of Ancher Tag */
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #000080;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
a:link>IMG {
  border-style: none;
  border-width: 0;
}
a:visited>IMG {
  border-style: none;
  border-width: 0;
}
a:active>IMG {
    border-style: none;
    border-width: 0;
}
a:hover>IMG {
    border-style: none;
    border-width: 0;
}

/* miscellaneous elements */
.block-center { margin-left: auto; margin-right: auto; }
.left { text-align: left }
.center { text-align: center }
.right { text-align: right }
.caution {
  font-weight: bolder;
  color: red;
  background-color: transparent;
}
.smaller { font-size: smaller; }
.larger { font-size: larger; }
/***** end of file ******************************************************/
