#mstdn_overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    display:none;
    z-index: 100;
}
#mstdn_popup{
    position: fixed;
    display: none;
    visibility: hidden;
    width: 90%; 
    max-width: 400px; /* 最大幅 */
    height: 300px;
    border: 2px solid #6364FF;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.mstdn_share{
    cursor:pointer;
}